In [1]:
import shareUtillities as sh
import pandas as pd

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
def saveDataframe(df, filename):
    df.to_pickle("./"+filename)

def loadDataframe(filename):
    df = pd.read_pickle("./"+filename)
    return df

In [29]:
import pandas as pd
symbols = ['GOOGL','AAPL']
volumes = [10,12]
prices  = [1023,827]
dates   = [pd.Timestamp('2018-03-10 09:00'),pd.Timestamp('2018-03-10 09:00')]
actions = ['Buy','Buy']
portfolio = pd.DataFrame(
    {'symbol': symbols,
     'volume': volumes,
     'price' : prices,
     'date'  :dates,
     'action':actions
    })
portfolio['dt']=portfolio['date'].dt.date
saveDataframe(portfolio, 'portfolio.pkl')

In [30]:
portfolio = loadDataframe('portfolio.pkl')
portfolio

  action                date  price symbol  volume          dt
0    Buy 2018-03-10 09:00:00   1023  GOOGL      10  2018-03-10
1    Buy 2018-03-10 09:00:00    827   AAPL      12  2018-03-10

In [31]:
def register(symbols,volumes, prices,dates,actions):
    pf = pd.DataFrame(
    {'symbol': symbols,
     'volume': volumes,
     'price' : prices,
     'date'  :dates,
     'action':actions
    })
    pf['dt']=pf['date'].dt.date
    df = loadDataframe('portfolio.pkl')
    df2=df.append(pf)
    saveDataframe(df2, 'portfolio.pkl')

register(['GOOGL'],[10],[1023],[pd.Timestamp('2018-03-10 09:00')],['Buy'])
loadDataframe('portfolio.pkl')

  action                date  price symbol  volume          dt
0    Buy 2018-03-10 09:00:00   1023  GOOGL      10  2018-03-10
1    Buy 2018-03-10 09:00:00    827   AAPL      12  2018-03-10
0    Buy 2018-03-10 09:00:00   1023  GOOGL      10  2018-03-10

In [51]:
# Downloading closing prices
for i, symbol in enumerate(df['symbol'].unique()):
    a,b=sh.downloadSymbolHistory(symbol, '2099-12-31', False)
    a.rename(columns={'Close':symbol}, inplace=True)
    if i==0:
        _df=a[[symbol]]
    else:
        #_tmp=_df.merge(a[[symbol]], left_on='Date', right_on='Date', how='outer')
        _tmp=_df.join(a[[symbol]], how='outer')
        _df=_tmp
    _df['dt'] = _df.index
    #_df['dt']=_df['dt'].dt.date

    
    for dt in _df.index.values:
    #    #print(dt)
        portfolio.loc[portfolio['dt'] == dt]
        
# Accumulating portfolio

_df#portfolio

Note: Loaded persisted time series data
Note: Loaded persisted time series data

                GOOGL          dt      AAPL
Date
1998-01-02        NaN  1998-01-02   16.2500
1998-01-05        NaN  1998-01-05   15.8800
1998-01-06        NaN  1998-01-06   18.9400
1998-01-07        NaN  1998-01-07   17.5000
1998-01-08        NaN  1998-01-08   18.1900
1998-01-09        NaN  1998-01-09   18.1900
1998-01-12        NaN  1998-01-12   18.2500
1998-01-13        NaN  1998-01-13   19.5000
1998-01-14        NaN  1998-01-14   19.7500
1998-01-15        NaN  1998-01-15   19.1900
1998-01-16        NaN  1998-01-16   18.8100
1998-01-20        NaN  1998-01-20   19.0600
1998-01-21        NaN  1998-01-21   18.9100
1998-01-22        NaN  1998-01-22   19.2500
1998-01-23        NaN  1998-01-23   19.5000
1998-01-26        NaN  1998-01-26   19.4400
1998-01-27        NaN  1998-01-27   19.1200
1998-01-28        NaN  1998-01-28   19.1900
1998-01-29        NaN  1998-01-29   18.5000
1998-01-30        NaN  1998-01-30   18.3100
1998-02-02        NaN  1998-02-02   17.6900
1998-02-03        NaN  1998-02-03   18.3100
1998-02-04        NaN  1998-02-04   18.2500
1998-02-05        NaN  1998-02-05   18.3100
1998-02-06        NaN  1998-02-06   18.5000
1998-02-09        NaN  1998-02-09   19.1900
1998-02-10        NaN  1998-02-10   19.4400
1998-02-11        NaN  1998-02-11   19.0000
1998-02-12        NaN  1998-02-12   19.3700
1998-02-13        NaN  1998-02-13   19.5000
...               ...         ...       ...
2018-10-23  1114.9100  2018-10-23  222.7300
2018-10-24  1057.1200  2018-10-24  215.0900
2018-10-25  1103.5900  2018-10-25  219.8000
2018-10-26  1083.7500  2018-10-26  216.3000
2018-10-29  1034.7300  2018-10-29  212.2400
2018-10-30  1049.5100  2018-10-30  213.3000
2018-10-31  1090.5800  2018-10-31  218.8600
2018-11-01  1085.9800  2018-11-01  222.2200
2018-11-02  1071.4900  2018-11-02  207.4800
2018-11-05  1055.7300  2018-11-05  201.5900
2018-11-06  1069.5700  2018-11-06  203.7700
2018-11-07  1108.2400  2018-11-07  209.9500
2018-11-08  1094.6300  2018-11-08  208.4900
2018-11-09  1077.0200  2018-11-09  204.4700
2018-11-12  1049.3600  2018-11-12  194.1700
2018-11-13  1047.9700  2018-11-13  192.2300
2018-11-14  1054.5800  2018-11-14  186.8000
2018-11-15  1071.0500  2018-11-15  191.4100
2018-11-16  1068.2700  2018-11-16  193.5300
2018-11-19  1027.4200  2018-11-19  185.8600
2018-11-20  1030.4500  2018-11-20  176.9800
2018-11-21  1043.4300  2018-11-21  176.7800
2018-11-23  1030.1000  2018-11-23  172.2900
2018-11-26  1055.9400  2018-11-26  174.6200
2018-11-27  1052.2800  2018-11-27  174.2400
2018-11-28  1091.7900  2018-11-28  180.9400
2018-11-29  1094.5800  2018-11-29  179.5500
2018-11-30  1109.6500  2018-11-30  178.5800
2018-12-03  1116.3600  2018-12-03  184.8200
2018-12-04  1062.4700  2018-12-04  176.6900

[5266 rows x 3 columns]

In [7]:
df

  action                date  price symbol  volume
0    Buy 2018-03-10 09:00:00   1023  GOOGL      10
1    Buy 2018-03-10 09:00:00    827   AAPL      12

In [8]:
a

                AAPL  Relative
Date
1998-01-02   16.2500  0.000000
1998-01-05   15.8800 -0.023300
1998-01-06   18.9400  0.161563
1998-01-07   17.5000 -0.082286
1998-01-08   18.1900  0.037933
1998-01-09   18.1900  0.000000
1998-01-12   18.2500  0.003288
1998-01-13   19.5000  0.064103
1998-01-14   19.7500  0.012658
1998-01-15   19.1900 -0.029182
1998-01-16   18.8100 -0.020202
1998-01-20   19.0600  0.013116
1998-01-21   18.9100 -0.007932
1998-01-22   19.2500  0.017662
1998-01-23   19.5000  0.012821
1998-01-26   19.4400 -0.003086
1998-01-27   19.1200 -0.016736
1998-01-28   19.1900  0.003648
1998-01-29   18.5000 -0.037297
1998-01-30   18.3100 -0.010377
1998-02-02   17.6900 -0.035048
1998-02-03   18.3100  0.033861
1998-02-04   18.2500 -0.003288
1998-02-05   18.3100  0.003277
1998-02-06   18.5000  0.010270
1998-02-09   19.1900  0.035956
1998-02-10   19.4400  0.012860
1998-02-11   19.0000 -0.023158
1998-02-12   19.3700  0.019102
1998-02-13   19.5000  0.006667
...              ...       ...
2018-10-23  222.7300  0.009339
2018-10-24  215.0900 -0.035520
2018-10-25  219.8000  0.021429
2018-10-26  216.3000 -0.016181
2018-10-29  212.2400 -0.019129
2018-10-30  213.3000  0.004970
2018-10-31  218.8600  0.025404
2018-11-01  222.2200  0.015120
2018-11-02  207.4800 -0.071043
2018-11-05  201.5900 -0.029218
2018-11-06  203.7700  0.010698
2018-11-07  209.9500  0.029436
2018-11-08  208.4900 -0.007003
2018-11-09  204.4700 -0.019661
2018-11-12  194.1700 -0.053046
2018-11-13  192.2300 -0.010092
2018-11-14  186.8000 -0.029069
2018-11-15  191.4100  0.024084
2018-11-16  193.5300  0.010954
2018-11-19  185.8600 -0.041268
2018-11-20  176.9800 -0.050175
2018-11-21  176.7800 -0.001131
2018-11-23  172.2900 -0.026061
2018-11-26  174.6200  0.013343
2018-11-27  174.2400 -0.002181
2018-11-28  180.9400  0.037029
2018-11-29  179.5500 -0.007742
2018-11-30  178.5800 -0.005432
2018-12-03  184.8200  0.033763
2018-12-04  176.6900 -0.046013

[5266 rows x 2 columns]